## Environment Variables
PORT=3001
JWT_KEY=supersecretkey_example

## Development Database (optional; defaults to local SQLite)
DEV_DB_NAME=conduit_development
DEV_DB_STORAGE=database.sqlite
DEV_DB_LOGGING=false

## Testing Database (optional; defaults to in-memory SQLite)
TEST_DB_NAME=conduit_test
TEST_DB_STORAGE=:memory:
TEST_DB_LOGGING=false

## Production Database
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=null
PROD_DB_NAME=database_production
PROD_DB_HOSTNAME=127.0.0.1
PROD_DB_DIALECT=postgres
PROD_DB_LOGGING=false
